html {
    font-family: sans-serif;
    font-size: 125%;
    line-height: 1.8em;
}

@media (min-width: 480px) {
    html {
        margin: 2em;
    }

    body {
        display: flex;
        flex-flow: row wrap;
    }

    div#top {
        padding: 0 2em;
        width: 100%;
        border-bottom: solid;
    }

    div {
        width: 50%;
        min-width: 300px;
    }
}
