html {
    font-family: sans-serif;
    font-size: 125%;
    margin: 2em auto;
    line-height: 1.8em;
}

body {
    display: flex;
    flex-flow: row wrap;
}

div#top {
    padding-left: 25%;
    padding-right: 25%;
}

div {
    width: 50%;
    min-width: 300px;
}
